<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
	{% block style %}{% endblock %}
	<title>
		{% block title %}{% endblock %}
	</title>
</head>
	<body >
		{% block navbar %}{% endblock %}
		<main >
		    {% block content %}
				
			{% endblock %}
		</main>
	</body>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>
</head>
		