{% extends "base.html" %} 

{% block title %} 
    ReqMaster requirements
{% endblock %}

{% block content %}
<div class="container">
	<div class="heading">ReqMaster - Requirements</div>
	<div class="subheading">
		<div class="subheading-text">
			Welcome to ReqMaster - This Are Your Requirements 
		</div>
		<div class="update-info">Last Updated: <span>{{ last_updated }}</span></div>
	</div>
	<hr>
	<div class="user-info">
		<div class="usersubheading">User Information</div>

		<div id="user-info" user-name="{{ username }}"></div>
		<div class="usercontainer">
			<div class="info-item username">Username - <span id="username"></span>
			</div>
			<div class="info-item id">ID - <span id="userid"></span>
			</div>
			<div class="info-item role">Role - <span id="userole"></span>
			</div>
		</div>
	</div> 
	
	<div id="colapsable-div">
          <div id ="userfeeds">
			  <!-- User Feeds Appears Here -->
		  </div>
		
	</div>

	<div class="horizontal-line"></div>
	<div>
		<div>
			<div id="category-title" >Categories</div>
			<div id="categories-list"></div>
		</div>
	</div>
</div>
{% endblock %}
